<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lke-new-api-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lke-new-api-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lke-new-api__staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lke-new-api__staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LKEWebAPI.Models.ApplicationDbContext, LKEWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AssetMaintanance_ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xfti85q52d.database.windows.net;Initial Catalog=XXXXXX;Persist Security Info=True;User ID=adminwtp;Password=7531WTPtax" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AssetMaintanance_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=xfti85q52d.database.windows.net;initial catalog=XXXXXX;user id=adminwtp;password=7531WTPtax;persist security info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LKE_LoginConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xfti85q52d.database.windows.net;Initial Catalog=LKE_Login;Persist Security Info=True;User ID=adminwtp;Password=7531WTPtax" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LKE_LoginConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=xfti85q52d.database.windows.net;initial catalog=LKE_Login;user id=adminwtp;password=7531WTPtax;persist security info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Reports_ConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xfti85q52d.database.windows.net;Initial Catalog=XXXXXX;Persist Security Info=True;User ID=adminwtp;Password=7531WTPtax" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Reports_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=xfti85q52d.database.windows.net;initial catalog=XXXXXX;user id=adminwtp;password=7531WTPtax;persist security info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LKE_LoginEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=xfti85q52d.database.windows.net;Initial Catalog=LKE_Login;Persist Security Info=True;User ID=adminwtp;Password=7531WTPtax;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LKE_LoginEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/LKE_LoginDataModel.csdl|res://*/LKE_LoginDataModel.ssdl|res://*/LKE_LoginDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xfti85q52d.database.windows.net;initial catalog=LKE_Login;persist security info=True;user id=adminwtp;password=7531WTPtax;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AssetMaintanance_ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LKE_LoginConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LKE_LoginEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Reports_ConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>